body {
	margin: 0;
}

nav li {
	display: inline-block;
}

nav {
	background-color: gray;
	position: fixed;
	width: 100%;
	top: 0;
}
nav li a {
	padding: 0 20px;
	color: black;
	text-decoration: none;
}
nav ul {
	text-align: center;
}

.back {
	background: url(https://images.unsplash.com/photo-1464983953574-0892a716854b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=e25cb9413a836233774f31dcb7f80b33);
	background-size: cover;
	height:800px;
	width:100%;
}

.row {
	width: 100%;
}

.column {
  float: left;
  width: 30%;
}

.projects {
	width: 100%
}

.projectImg {
	max-width: 500px;
	padding: 20px;
	height: 200px;
}

.inner-column {
	display: inline-block;
	width: 100%;
}

.ad-img {
	max-width: 500px;
	padding:20px;
	height: 200px;
}

h3 {
	text-align: center;
}

h2 {
	text-align: center;	
}

.about-me {
	width: 100%;
	display: inline-block;
}

@media (max-width: 700px) {
	.column {
		width: 100%;
	}
}